.hidden {
    display: none;
  }

  body {
    background-color: #3A668C;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    align-content: stretch;
  
  }

  a:link {
    color: #ffffff;
  }

  a:active {
    color:  #3A668C;
  }

  .Nav, .Title{
    background-color: #FFBD39;
    position:relative;
  }

  .Nav {
    width: 25%;
  }
  
  .Title {
    width: 100%;
    color:  #3A668C;
    font-weight: bold;
    font-size: larger;
  }

  #Home {
    display: inline-flex;
  }