  html {
    font-size:62.5%;
  }

  a:link {
    color: #151f28;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  a:active {
    color:  #3A668C;
  }

  footer {
    text-align: center;
  }

  h1 {
    font-size: 2.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  li {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  p {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .hidden {
    display: none;
  }

  .visible {
    color:#3A668C;
  }

  body {
    background-color: #3A668C;
    color: #ffffff;

  }

  .Body {
    grid-area: b;
    padding-top: 1.2rem;
    padding-left: 8rem;
    margin-right: 1rem;

  }

  .icon {
    background-color: #cacaca;
    border-color: #cacaca;
    border-style: solid;
    border-width: .2rem;
    border-radius: 1rem;
    margin: .5rem;
  }

  .Nav, .Title{
    background-color: #FFBD39;
    padding-top: 1.2rem;
    padding-left: 3rem;
  }

  .Nav {
    grid-row: 1/4;
    grid-column: 1/1;
  }

  .Nav li{
    grid-area: a;
  }

  .Shapes {
    grid-area: d;
    display: flex;
    padding-left: 1.2rem;
    padding-bottom: 3rem;
  }

  
  .Title {
    width: 100%;
    color:  #151f28;
    padding-bottom: 1rem;
    font-weight: bold;
 }

  .Main {
    display: grid;
    grid-template-rows: 12rem 1fr 40rem;
    grid-template-columns: 20rem 1fr 1fr;
    height:87vh;
    min-height:575px;
    grid-template-areas:
    "a b b"
    "c b b"
    "d b b"
    "d b b";
  }

  #gradient {
    padding: .25rem;
  }

  #skillBox {
    display:inline-flex;
    margin: 1rem;
  }

  #signOff {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    z-index: 2;
  }

  #square1 {
    /*Make shrink and expand with page*/
    height: 22rem;
    width: 1.5rem;
    background-color: #151f28;
    margin-top: 7rem;
    margin-bottom: .8rem;
    opacity: 70%;
  }

  #square2, #square3, #square4, #square5 {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #151f28;
    margin-top: .8rem;
    margin-bottom: .8rem;
  }

  #square2 {
    opacity: 50%;
  }

  #square3 {
    opacity: 40%;
  }

  #square4 {
    opacity: 30%;
  }

  #square5 {
    opacity: 20%;
  }
  
  #backgroundShape {
    position: absolute;
    height: 35rem;
    width: 20rem;
    border-radius: 2.5rem;
    border-width: .2rem;
    border-style: solid;
    border-color: #151f28;
    margin-top: 3rem;
    margin-left: 2.2rem;
  }

  #shapedImage {
    position: absolute;
    background-color: #151f28;
    background-image: url("../images/desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    width: 20rem;
    border-radius: 2.5rem;
    border-width: .2rem;;
    border-style: solid;
    border-color: #151f28;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
  }

  @media only screen and (max-height: 700px)
  {

  .Body {
    padding-left: 1rem;
  }
    .Main{
      grid-template-areas:
      "a b b"
      "c b b"
      "c b b"
      "d d d";
    }
    .Shapes{
      background-color: #FFBD39;
      display:inline-flex;
      width: 100%;
      padding-bottom: 1.5rem;
      position:fixed;
      bottom: 0;
      height: 3rem;
    }

#cornerImage {
  margin-top:-35rem;
  margin-left: auto;
  margin-right: 2rem;
}

  #gradient {
    display:inline-flex;
    }

    #shapedImage {
      position: relative;
    }

  #square1 {
    height: 1.5rem;
    width: 33vw;
    background-color: #151f28;
    margin-top: .8rem;
    margin-bottom: .8rem;
    opacity: 70%;
  }

  #square2, #square3, #square4, #square5 {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #151f28;
    margin-top: .8rem;
    margin-left: .8rem;
    margin-bottom: .8rem;
  }
  }
  
  @media only screen and (max-height: 620px) 
  {
    html{
      font-size:60%;
    }

    .Body {
      padding-left: 6rem;
    }

    .Main {
      grid-template-columns: 14rem 1fr 1fr;
    }

    .Nav {
      padding-left: 2rem;
    }
    .Shapes{
      position:fixed;
      bottom: 0;
      height: 3rem;
    }
  
    #cornerImage {
      position:fixed;
      margin-top:0;
      margin-left: 0;
      margin-right: 0;
      bottom: 7rem;
      left: 1rem;
    }

    #gradient {
      position:fixed;
      bottom: 1rem;
      background-color: #FFBD39;
      width: 100%;
      padding: .25rem;
      }

      #backgroundShape {
        height: 25rem;
        width: 14.1rem;
        border-radius: 1.75rem;
        
      }
    
      #shapedImage {
        height: 25rem;
        width: 14.1rem;
        border-radius: 1.75rem;
      }

  }

  @media only screen and (max-height: 460px)
  {
    html {
      min-height: 340px;
      overflow: auto;
    }
    
    .Body {
      padding-left: 1rem;
    }
    
    .Title{
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 5rem;
    }
    #cornerImage {
      position: fixed;
      top: 0;
      left: 0;
    }

    #backgroundShape {
      height: 3.5rem;
      width: 3rem;
      border-radius: .875rem;
      margin-top: .5rem;
      margin-left: .5rem;
    }

  
    #shapedImage {
      height: 3.5rem;
      width: 3rem;
      border-radius: .875rem;  
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }

  @media only screen and (max-width: 880px)
  {
    html{
      font-size:60%;
    }
    
    .Main{
      grid-template-areas:
      "a b b"
      "c b b"
      "c b b"
      "d d d";
    }

    .Shapes{
      background-color: #FFBD39;
      display:inline-flex;
      width: 100%;
      padding-bottom: 1.5rem;
      padding-right: 10rem;
  }
    }

        .Body {
      padding-left: 1rem;
    }
    
    .Title{
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 5rem;
    }

    #gradient {
      display:inline-flex;
      }
  
      #shapedImage {
        position: relative;
      }
  
    #square1 {
      height: 1.5rem;
      width: 33vw;
      background-color: #151f28;
      margin-top: .8rem;
      margin-bottom: .8rem;
      opacity: 70%;
    }
  
    #square2, #square3, #square4, #square5 {
      height: 1.5rem;
      width: 1.5rem;
      background-color: #151f28;
      margin-top: .8rem;
      margin-left: .8rem;
      margin-bottom: .8rem;
    }

    #cornerImage {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 0;
    }

    #backgroundShape {
      height: 3.5rem;
      width: 3rem;
      border-radius: .875rem;
      margin-top: .5rem;
      margin-left: .5rem;
    }

  
    #shapedImage {
      height: 3.5rem;
      width: 3rem;
      border-radius: .875rem;  
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }